
<div class="profile-container">

    <svg viewBox="0 0 24 24" class="more-svg">
        <path class="more-path-background" d="M0 0h24v24H0V0z" fill="none"/>
        <path class="more-path" d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
    </svg>

    <div class="logout-slide">
       <div><a class="logout" href="/logout">Logout</a></div>
    </div>

    <img src="/{{response.profileImg}}" class="profile-img">
</div>

<div class="container profile-info">

    <div class="flex flex-profile">
        <h1>{{response.name}}</h1>

        {{#if currentUser}}
            <a href="/edit/{{response._id}}" class="button">Edit Profile</a>
        {{/if}}
    </div>

    <div class="flex">
        <div class="padding">
            <svg enable-background="new 0 0 258.75 258.75" class="profile-svg-small"
                version="1.1" 
                viewBox="0 0 258.75 258.75">

                <circle cx="129.38" cy="60" r="60" cx="150" cy="100" r="90"/>
                <path d="m129.38 150c-60.061 0-108.75 48.689-108.75 108.75h217.5c0-60.061-48.689-108.75-108.75-108.75z" cx="150" cy="100" r="90"/>
            </svg>
            <span>{{response.username}}</span>
        </div>

        {{#if response.location}}
        <div class="padding">
            <svg enable-background="new 0 0 425.963 425.963" version="1.1" viewBox="0 0 425.96 425.96">
                <path d="m213.28 0h-0.608c-73.563 0-133.41 59.826-133.41 133.36 0 48.202 21.952 111.82 65.246 189.08 32.098 57.281 64.646 101.15 64.972 101.59 0.906 1.217 2.334 1.934 3.847 1.934 0.043 0 0.087 0 0.13-2e-3 1.561-0.043 3.002-0.842 3.868-2.143 0.321-0.486 32.637-49.287 64.517-108.98 43.03-80.563 64.848-141.62 64.848-181.48-3e-3 -73.536-59.85-133.36-133.41-133.36zm61.58 136.62c0 34.124-27.761 61.884-61.885 61.884-34.123 0-61.884-27.761-61.884-61.884s27.761-61.884 61.884-61.884c34.124 0 61.885 27.761 61.885 61.884z"/>  
            </svg>
            <span>{{response.location}}</span>
        </div>
        {{/if}}
        
    </div>

    <p>{{response.description}}</p>
</div>
   
  

<section class="container">
{{#if response.trips}}
    {{#if currentUser}}
        <h4 class="padding-bottom">My Trips</h4>
    {{else}}
        <h4 class="padding-bottom">{{response.name}}'s Trips</h4>
    {{/if}}

    <div class="experience-container discover-container">
    {{#each response.trips}}
        <a href="../tripinfo/{{this._id}}" class="continent-a discover-a">
                    <img src="/{{this.tripImage}}">

                    <h4>{{this.title}}</h4>

                    <span class="location">
                            <svg enable-background="new 0 0 425.963 425.963" version="1.1" viewBox="0 0 425.96 425.96">
                                    <path d="m213.28 0h-0.608c-73.563 0-133.41 59.826-133.41 133.36 0 48.202 21.952 111.82 65.246 189.08 32.098 57.281 64.646 101.15 64.972 101.59 0.906 1.217 2.334 1.934 3.847 1.934 0.043 0 0.087 0 0.13-2e-3 1.561-0.043 3.002-0.842 3.868-2.143 0.321-0.486 32.637-49.287 64.517-108.98 43.03-80.563 64.848-141.62 64.848-181.48-3e-3 -73.536-59.85-133.36-133.41-133.36zm61.58 136.62c0 34.124-27.761 61.884-61.885 61.884-34.123 0-61.884-27.761-61.884-61.884s27.761-61.884 61.884-61.884c34.124 0 61.885 27.761 61.885 61.884z"/>  
                            </svg>
                            {{this.location}}
                    </span>

                    <span class="continent">
                            <svg enable-background="new 0 0 31.416 31.416" version="1.1" viewBox="0 0 31.416 31.416" class="globe-svg">
                                <path d="m28.755 6.968-0.47 0.149-2.503 0.223-0.707 1.129-0.513-0.163-1.992-1.796-0.289-0.934-0.387-0.996-1.252-1.123-1.477-0.289-0.034 0.676 1.447 1.412 0.708 0.834-0.796 0.416-0.648-0.191-0.971-0.405 0.033-0.783-1.274-0.524-0.423 1.841-1.284 0.291 0.127 1.027 1.673 0.322 0.289-1.641 1.381 0.204 0.642 0.376h1.03l0.705 1.412 1.869 1.896-0.137 0.737-1.507-0.192-2.604 1.315-1.875 2.249-0.244 0.996h-0.673l-1.254-0.578-1.218 0.578 0.303 1.285 0.53-0.611 0.932-0.029-0.065 1.154 0.772 0.226 0.771 0.866 1.259-0.354 1.438 0.227 1.67 0.449 0.834 0.098 1.414 1.605 2.729 1.605-1.765 3.372-1.863 0.866-0.707 1.927-2.696 1.8-0.287 1.038c6.892-1.66 12.019-7.851 12.019-15.253-2e-3 -3.233-0.982-6.242-2.66-8.739z"/>
                                <path d="m17.515 23.917-1.144-2.121 1.05-2.188-1.05-0.314-1.179-1.184-2.612-0.586-0.867-1.814v1.077h-0.382l-2.251-3.052v-2.507l-1.65-2.683-2.62 0.467h-1.765l-0.888-0.582 1.133-0.898-1.13 0.261c-1.362 2.326-2.156 5.025-2.156 7.916 0 8.673 7.031 15.707 15.705 15.707 0.668 0 1.323-0.059 1.971-0.137l-0.164-1.903s0.721-2.826 0.721-2.922c-1e-3 -0.097-0.722-2.537-0.722-2.537z"/>
                                <path d="m5.84 5.065 2.79-0.389 1.286-0.705 1.447 0.417 2.312-0.128 0.792-1.245 1.155 0.19 2.805-0.263 0.773-0.852 1.09-0.728 1.542 0.232 0.562-0.085c-2.031-0.956-4.291-1.509-6.686-1.509-4.875 0-9.234 2.222-12.112 5.711h8e-3l2.236-0.646zm10.532-3.503 1.604-0.883 1.03 0.595-1.491 1.135-1.424 0.143-0.641-0.416 0.922-0.574zm-4.751 0.129 0.708 0.295 0.927-0.295 0.505 0.875-2.14 0.562-1.029-0.602c-1e-3 0 1.006-0.648 1.029-0.835z"/>
                            </svg>
                            {{this.continent}}
                    </span>

                    <span class="img-shadow"></span>
            </a>
    {{/each}}
    </div>

 {{else}}
    <h4>No trips yet</h4>
 {{/if}}
</section>

{{>nav}}